.icon{
    border-radius: 10px;
}

.center{
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -97%);
}
.header{
    display: flex;
    width: 100px; 
    justify-content: space-around;
    position: fixed;
    right: 0; 
    top: 0;
    padding: 20px; 
    padding-right: 80px;
    margin: auto;
}
.header a:link{
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

.header a:hover{
    color: gray;
    text-decoration: underline;
}


.search_bar{
  width: 582px; 
  border-radius: 24px;
  border: 1px solid #dfe1e5;
  display: flex;
  background: #fff;
  z-index: 3;
  height: 44px;
  margin: 0 auto;
  padding-left: 20px;
  margin-top: 20px;
  background-image: url("images/search-icon.jpeg") top left no-repeat;
}

.search_bar:hover{
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
    border-color: rgba(223,225,229,0);
}

.search_bar:focus{
    outline: none;
}

.shift{
    margin-left: 170px;
}

.form_button{
    width: auto;
    background-image: -webkit-linear-gradient(top,#f8f9fa,#f8f9fa);
    height: 36px;
    margin: 11px 4px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px 1px 1px 1px;
    font-size: 15px;
    border-radius: 4px;
    padding: 0 16px ;
    background-color: #f8f9fa;
    text-align: center;
    color: #43423c;
    font-size: 14px;
    border: 1px solid #f8f9fa;
    line-height: 27px;
    cursor: pointer;
}

.form_button:hover{
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-image: -webkit-linear-gradient(top,#f8f9fa,#f8f9fa);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}
.flex{
    display: flex;
    flex:1;
    justify-content: center;
}